{% extends 'base.html' %}
{% load static %}
{% block content %}
    


<style>
  @media only screen and (min-width: 200px) and (max-width: 790px) {
    .input-group{
      margin-left:15rem !important;
      width: 19rem;
    
    }

}
</style>


        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">All Categories</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Category</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->

    


<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Check Our Category</h1>
            <div class="row mb-3">
            <div class="col-lg-12 offset-lg-3">
              <form class="form-inline" method="GET" action="{% url 'category' %}">
                <div class="input-group">
                  <input type="text" class="form-control gr" name="search" placeholder="Search categories..." value="{{ request.GET.search }}">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                      <i class="fas fa-search" style="margin-right: 60px;"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <div class="row g-4">
             {% for category in categories %}
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" href="{% url 'category_view' category.id %}">
                        <h6 class="mb-3">{{ category.name }}</h6>
                        <p class="mb-0">{{ category.total_jobs }} Vacancies</p>
                    </a>
                </div>
            {% endfor %}
          
        </div>
    </div>
</div>






        {% endblock  %}
      