{% extends 'base.html' %}
{% load static %}
{% block content %}


<h4 style="text-align: center; padding-top: 50px;">
    FIND SKILLED INDIVIDUAL OR SKILLED COMPANY
</h4>

<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-6">
            <a href="{% url 'skilled_individual' %}">
            <div class="card">
            <img class="img-fluid" src="{% static 'images/carousel-2.jpg' %}" alt="">
            <div class="card-body">
                <h3 class="card-title text-center">Skilled individuals</h3>
            </div>
           </div></a> 
        </div>
        <div class="col-6">
            <a href="{% url 'skilled_company' %}">
                <div class="card">
                <img class="img-fluid" src="{% static 'images/carousel-2.jpg' %}" alt="">
                <div class="card-body">
                    <h3 class="card-title text-center">Skilled companies</h3>
                </div>
            </div>
        </div></a> 
    </div>
</div>


{% endblock %}