{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row d-flex flex-row justify-content-center  py-md-5 py-3 " style="min-height: 90vh;">
        <div class="col-md-12">
            <form class="bg-white shadow p-5 form" action="{% url 'initiate-payment' %}" method="POST">
                <h4 class="text-uppercase">Enter amount in Ghana Cedis</h4>
                <hr>
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ payment_form.email.id_for_label }}">Email:</label>
                    {{ payment_form.email }}
                </div>
                <div class="form-group" style="padding: 10px 0px 15px 0px;">
                    <label for="{{ payment_form.amount.id_for_label }}">Amount in GHC:</label>
                    {{ payment_form.amount }}
                </div>
                <p>
                    <input type="submit" class="btn btn-success" value="Proceed to Payment">
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
