{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="text-center">All Ratings</h3>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>User</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for rating in ratings %}
                    <tr>
                        <td>{{ rating.company.name }}</td>
                        <td>{{ rating.user.username }}</td>
                        <td>{{ rating.rating }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
